<!doctype html>
{% extends 'customer-index.html' %}
{% load static %}
{% block child %}
<div class="woocommerce-MyAccount-content col-md-9">

	<p>Hello <strong>{{user_data.name}}</strong> (not <strong>{{user_data.name}}</strong>? <a href="/logout">Log out</a>)</p>

	<p>From your account dashboard you can view your <a href="/my-plan">Active Plans</a> and <a href="/edit-account">edit your password and account details</a>.</p>
    
    <div class="act-pas-btns">
    <button type="button" class="btn btn-success">Activate</button>
    <button type="button" class="btn btn-warning">Pause</button>
    </div>


</div>
{% endblock child%}
