<!doctype html> <!--middle content-->
{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="container-wrap">

	<div class="container main-content">

		<div class="row">

			<div class="woocommerce">



				<div class="u-columns col2-set" id="customer_login">

						<p style="color: #FFFFFF; text-align: center;"> {{error}} </p>

					<div class="u-column1 col-1">


						<div class="fooderyfit-login-container">
							<h2>Welcome back</h2>

							<form class="woocomerce-form woocommerce-form-login login" method="post" action="/login/">
								{% csrf_token %}

								<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide fooderyfit-form-input">
									<!--<label for="username">Username or email address <span class="required">*</span></label>-->
									<input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" placeholder="Username or email address" id="username" value="" />
								</p>
								<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide fooderyfit-form-input">
									<!--<label for="password">Password <span class="required">*</span></label>-->
									<input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" placeholder="Password" id="password" />
								</p>


								<p class="form-row fooderyfit-login-submit">
									<label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
									<input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Remember me</span>
									</label>
									<input type="submit" class="woocommerce-Button button fooderyfit-login-button" name="login" value="Login" />
								</p>

							</form>
						</div>
						<p class="woocommerce-LostPassword lost_password">
						<a href="/">Lost your password?</a>
						</p>


					</div>

				<div class="u-column2 col-2">

					<div class="fooderyfit-register-container">
						<h2>First time?</h2>

						<form method="post" class="register" action="/register/">

							{% csrf_token %}

							<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide fooderyfit-form-input">
								<label for="reg_email">Email address <span class="required">*</span></label>
								<input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="email" placeholder="Email address" id="reg_email" value="" required/>
							</p>


							<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide fooderyfit-form-input">
								<label for="reg_password">Password <span class="required">*</span></label>
								<input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="password" placeholder="Password" id="reg_password" required />
							</p>


							<!-- Spam Trap -->
							<div style="left: -999em; position: absolute;"><label for="trap">Anti-spam</label><input type="text" name="email_2" id="trap" tabindex="-1" autocomplete="off" /></div>

							<!-- <p class="form-row form-row-wide create-account"><input class="input-checkbox" id="mailchimp_woocommerce_newsletter" type="checkbox" name="mailchimp_woocommerce_newsletter" value="1" checked="checked"><label for="mailchimp_woocommerce_newsletter" class="checkbox">Subscribe</label></p> -->
							<div class="clear"></div>
							<p class="woocomerce-FormRow form-row fooderyfit-register-submit">

								<input type="submit" class="woocommerce-Button button fooderyfit-register-button" name="register" value="Register" />
							</p>


						</form>
					</div>
				</div>

			</div>
			<div class="fooderyfit-login-background"></div>

		</div>
		<span class="et_bloom_bottom_trigger"></span>
	</div><!--/row-->

</div><!--/container-->

</div><!--/container-wrap-->

{% endblock %}
