<!doctype html> <!--middle content-->
{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="container-wrap">

	<div class="container main-content">

		<div class="row">

			<div class="woocommerce">



				<div class="u-columns col2-set" id="customer_login">

					<p style="color: #FFFFFF; text-align: center;"> {{error}} </p>

					<!-- <div class="u-column1 col-1"> -->
 
						<div class="fooderyfit-login-container">
							<h2>Welcome back</h2>

							<form class="woocomerce-form woocommerce-form-login login" id="loginform" method="post" action="/login/">

								
							{% csrf_token %}

								<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide fooderyfit-form-input">
									<!--<label for="username">Username or email address <span class="required">*</span></label>-->
									<input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="email" placeholder="Email" id="email" value="" required/>
								</p>
								<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide fooderyfit-form-input">
									<!--<label for="password">Password <span class="required">*</span></label>-->
									<input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" placeholder="Password" id="password" />
								</p>


								<p class="form-row fooderyfit-login-submit">
									<label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
									<input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Remember me</span>
									</label>

									<input type="submit" class="woocommerce-Button button fooderyfit-login-button" id="login-submit" name="login" value="Login" />


								</p>

							</form>
						<!-- </div> -->
						<p class="woocommerce-LostPassword lost_password">
						<a href="/reset-password">Lost your password?</a>
						</p>


					</div>

					

				</div>
				<div class="fooderyfit-login-background"></div>

			</div>
			<span class="et_bloom_bottom_trigger"></span>
		</div><!--/row-->

	</div><!--/container-->

</div><!--/container-wrap-->

<script>
$(document).ready(function () {
    $("#loginform").validate({

		rules: {

			"email":{
			  required:true,
			 
				},

			"password":{
			  required:true,
			  minlength:6
				},
		},

		messages:{

			"email":{
			    required: "Enter your email id"
			       
			    },
			"password": {
			    required: "Enter your password",
			    minlength: "Entered password is below 6 characters"
				},
		}
	});
});

</script>

<script>
$(document).ready(function() {
	  $("#login-submit").css({
		 "cursor": "default",
	// $("#submit").attr('disabled', 'disabled');
	 	});
	$("#login-submit").attr('disabled', 'disabled');
	$("form").keyup(function() {
		// To Disable Submit Button
		// $("#submit").attr('disabled', 'disabled');
		// Validating Fields
		var email = $("#email").val();
		var password = $("#password").val();
		var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;

			if (!(email == "" ||  password =="" ) && (password.length>=6) && (filter.test(email))){
			// To Enable Submit Button
			    $("#login-submit").removeAttr('disabled');
			    $("#login-submit").css({
			    "cursor": "pointer",
			    // "box-shadow": "1px 0px 6px #333"
			                      });
			 }
			else{
			    $("#login-submit").attr('disabled', 'disabled');
			    $("#login-submit").css({
			       "cursor": "default",
			                          });
			}
	});

	// On Click Of Submit Button
	$("#login-submit").click(function() {
		$("#login-submit").css({
		// "cursor": "default",
		"box-shadow": "none"
	     });
    });
});
</script>

<script>
$(document).ready(function () {
    $("#registerform").validate({


rules: {
	"phone":{
  required:true,
  minlength:10
 },
"sel1": { required: true, },
"password": {
        required: true,
        minlength:6
         },
"confirmpassword": {
        required: true,
        minlength:6
         },
"confirmpassword": {
        required: true,
        equalTo: "#reg_password"
    },
},
messages:{
"phone":{
        
        minlength: "Please enter a valid mobile number",
        maxlength: "Please enter a valid mobile number",
        },
"password":{
	    minlength:"Password must be atleast 6 characters long",
},        
"confirmpassword": {
        equalTo: "Passwords do not match!.."
    },
}
});

	rules: {
		"phone":{
	  		required:true,
	  		minlength:10	 
			},
		"gender":{required:true,},
		"password": {
	        required: true,
	        minlength:6
	        },
		"confirmpassword": {
	        required: true,
	        minlength:6
	        },
		"confirmpassword": {
	        required: true,
	        equalTo: "#reg_password"
	       },
	   	},

    messages:{
        "phone":{      
	        minlength: "Please enter a valid mobile number",
	        maxlength: "Please enter a valid mobile number",
	        },
		"password":{
	    	minlength:"Password must be atleast 6 characters long",
			},        
		"confirmpassword": {
        	equalTo: "Passwords do not match!.."
    		},
		}
	});

});

</script>
<!--For enabling submit button-->
<script>
$(document).ready(function() {

  $("#submit").css({
 "cursor": "default",
// $("#submit").attr('disabled', 'disabled');
 });
$("#submit").attr('disabled', 'disabled');
$("form").keyup(function() {
// To Disable Submit Button
// $("#submit").attr('disabled', 'disabled');
// Validating Fields
var name  = $("#reg_name").val();
var email = $("#reg_email").val();
var phone = $("#reg_phone").val();
// var gender=$("#sel1 option:selected").val();
var password = $("#reg_password").val();
var confirmpassword = $("#reg_confpassword").val();
var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
var filter1 = /^[0-9-+]+$/;
var selectVal = $("#sel1 option:selected").val();




if ((!(email == "" || name == "" || phone == "" || password =="" || confirmpassword=="" ||selectVal == " ")) && ((filter.test(email)) && (filter1.test(phone))) && ((phone.length>9) && (phone.length<13)) && (password.length>=6) && (confirmpassword.length>=6) && (confirmpassword == password)){








// To Enable Submit Button
$("#submit").removeAttr('disabled');
$("#submit").css({
"cursor": "pointer",
});
 }
else{
 $("#submit").attr('disabled', 'disabled');
 $("#submit").css({
"cursor": "default",
});
 }
});
// On Click Of Submit Button
$("#submit").click(function() {
$("#submit").css({
// "cursor": "default",
"box-shadow": "none"
});
});

	  $("#submit").css({
		 "cursor": "default",
		// $("#submit").attr('disabled', 'disabled');
		 });
	 // To Disable Submit Button
	$("#submit").attr('disabled', 'disabled');
	$("form").keyup(function() {

		// Validating Fields
		var name  = $("#reg_name").val();
		var email = $("#reg_email").val();
		var phone = $("#reg_phone").val();
		var gender=$("#reg_gender option:selected").val();
		var password = $("#reg_password").val();
		var confirmpassword = $("#reg_confpassword").val();
		var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
		var filter1 = /^[0-9-+]+$/;

			if ((!(email == "" || name == "" || phone == "" || password =="" || confirmpassword=="")) && ((filter.test(email)) && (filter1.test(phone)))  && ((phone.length>9) && (phone.length<13)) && (password.length>=6) && (confirmpassword.length>=6) && (confirmpassword == password)){

				// To Enable Submit Button
				$("#submit").removeAttr('disabled');
				$("#submit").css({
				"cursor": "pointer",
				});
	 		}
			else{
				 $("#submit").attr('disabled', 'disabled');
				 $("#submit").css({
				"cursor": "default",
				});
			 }
	});
	// On Click Of Submit Button
	$("#submit").click(function() {
		$("#submit").css({
		// "cursor": "default",
		"box-shadow": "none"
		});
	});

});
</script>
{% endblock %}
