
<!doctype html>
{% extends 'customer-index.html' %}

{% load static %}
{% block child %}
<div class="woocommerce-MyAccount-content col-md-9">

	<p> Your Table </p>

	<table border="1">
		<thead>
			<tr>
				<th> Item </th>
				<th> Meals Type </th>
				<th> Addons </th>
				<th> Grams </th>
				<th> Calories </th>
				<th> Carb</th>
				<th> Protein </th>
				<th> Fat </th>
				<th> Price </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>

</div>
{% endblock child%}