
<!doctype html>
{% extends 'customer-index.html' %}

{% load static %}
{% block child %}
<div class="woocommerce-MyAccount-content col-md-9">

	<div class="row">
		<div class="meal-plan-box col-md-5" style="">
			<div>
				<table border="0">
					<tr>
						<th>How many days per week</th>
						<td> 3</td>
					</tr>
					<tr>
						<th>No of meals per day</th>
						<td>4</td>
					</tr>
					<tr>
						<th>Meal Plan Type</th>
						<td>Low Carb</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-md-7"></div>
	</div>
	<div>
		<table border="1">
			<thead>
				<tr>
					<th> Item </th>
					<th> Meals Type </th>
					<th> Addons </th>
					<th> Grams </th>
					<th> Calories </th>
					<th> Carb</th>
					<th> Protein </th>
					<th> Fat </th>
					<th> Price </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock child%}