
<!doctype html>
{% extends 'customer-index.html' %}

{% load static %}
{% block child %}
<div class="woocommerce-MyAccount-content col-md-9">


	<table border="1">
		<thead>
			<tr>
				<th> Item </th>
				<th> Meals Type </th>
				<th> Addons </th>
				<th> Grams </th>
				<th> Calories </th>
				<th> Carb</th>
				<th> Protein </th>
				<th> Fat </th>
				<th> Price </th>
			</tr>
		</thead>
		<tbody>
		{% for data in items_data %}
			<tr>
				<td>{{data.item}}</td>
				<td>{{data.meals_type}}</td>
				<td></td>
				<td>{{data.quantity}}</td>
				<td>{{data.calories}}</td>
				<td>{{data.carb}}</td>
				<td>{{data.protein}}</td>
				<td>{{data.fat}}</td>
				<td>{{data.price}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

</div>
{% endblock child%}