<!doctype html> <!--resetpassword content-->
{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="container-wrap" style="opacity: 1;">
	
	<div class="container main-content">
		
		<div class="row">
			
			<div class="woocommerce"><div id="reset-password">
	<div class="fooderyfit-resetpassword-container">
			<form method="post" class="woocommerce-ResetPassword lost_reset_password">

			<!--<p></p>-->
				<h2>Got lost? Don’t worry</h2>
				<p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first fooderyfit-form-input">
					<!--<label for="user_login">Username or email</label>-->
					<input class="woocommerce-Input woocommerce-Input--text input-text" type="text" name="user_login" id="user_login" placeholder="Username or Email address">
				</p>

				<div class="clear"></div>

				
				<p class="woocommerce-form-row form-row">
					<input type="hidden" name="wc_reset_password" value="true">
					<input type="submit" class="woocommerce-Button button fooderyfit-resetpassword-button" value="Reset password">
				</p>

				<input type="hidden" id="_wpnonce" name="_wpnonce" value="ca916750d1"><input type="hidden" name="_wp_http_referer" value="/my-account/lost-password/">
			</form>
	</div>
</div>
<div class="fooderyfit-resetpassword-background"></div>
</div>
<span class="et_bloom_bottom_trigger"></span>
		</div><!--/row-->
		
	</div><!--/container-->
	
</div>

{% endblock %}